<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<title><div th:text="#{welcome_h3(#application_name)}"></div></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>

<body class="tundra spring">
	<div id="wrapper">
		<tiles:insertAttribute name="header" ignore="true" />
		<div th:include="header :: body"></div>
		<div th:include="menu :: #menu"></div>
		<div id="main">
			<div th:include="body :: body"></div>
			<div th:include="footer :: body"></div>
		</div>
	</div>
</body>
</html>
