<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title><div th:text="#{welcome_h3(#application_name)}"></div></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>

<body>
	<div th:fragment="body">
		<span>
			<a href="#" th:href="@{/}">
				<div th:text="#{button_home}"></div>
			</a>
		</span>
		<div th:if="${#httpServletRequest.].userPrincipal != null}">
			 | 
			 <span>
			 	<a href="#" th:href="@{/logout}"><span th:text="#{security_logout}"></span></a>
			 </span>
		</div>
		<span id="language"> | <span th:text="#{global_language}"></span>: 
		</span>
		
		<span th:text="#{global_sponsored}"></span>
		<span>
			<a href="http://springsource.com" th:title="#{global_sponsored}">
				<img align="right" th:src="@{/resources/images/springsource-logo.png}" th:alt="#{global_sponsored}"/>
			</a>
		</span>
	</div>
</body>
</html>
