<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en">
<head>

<title>Pear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Register Account</h1>
	<form action="#" th:action="@{/accounts/create}" th:object="${account}" method="post">
		<div>
			<label for="name">Name:</label>
			<input type="text" name="name" th:field="*{name}"/>
		</div>
		<div>
			<label for="age">Age:</label>
			<input type="text" name="age" th:field="*{age}"/>
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="text" name="email" th:field="*{email}"/>
		</div>
		<div>
			<ul>
				<li th:each="ty : ${allTypes}">
					<input type="radio" th:field="*{type}" th:value="${ty}" />
					<label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + ty}}">Wireframe</label>
				</li>
			</ul>
		</div>
		<div>
			<input type="submit" name="submit" value="Register"/>
		</div>
	</form>
</body>
</html>
