<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en">
<head>

<title>Pear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<h1>Account List</h1>
		<button><a href="create.html" th:href="@{/accounts/create}"><span th:text="#{button.create}">Create</span></a></button>
		<table border="1">
			<thead>
				<tr>
					<td>Name</td>
					<td>Age</td>
					<td>Sex</td>
					<td>Email</td>
					<td>Update</td>
					<td>Delete</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${accounts}" th:class="${accountStat.odd} ? 'odd'">
					<td th:text="*{account.name}">Mingle</td>
					<td th:text="*{account.age}">25</td>
					<td th:text="((*{account.sex} == 'MAN') ? 'Man' : ((*{account.sex} == 'WOMAN') ? 'Woman' : 'Intersex'))">Man</td>
					<td th:text="*{account.email}">jinminglei@yeah.net</td>
					<td><a href="update.html" th:href="@{'/accounts/update/' + *{account.id}}"><span th:text="#{button.update}">Update</span></a></td>
					<td><a href="list.html" th:href="@{'/accounts/delete/' + *{account.id}}" data-method="delete"><span th:text="#{button.delete}">Delete</span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
