<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en">
<head>

<title>Pear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<h1>Account list</h1>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Age</td>
					<td>Sex</td>
					<td>Email</td>
					<td>Create</td>
					<td>Update</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${accounts}" th:class="${accountStat.odd} ? 'odd'">
					<td th:text="${account.name}">Mingle</td>
					<td th:text="${account.age}">25</td>
					<td th:text="((${account.sex} == 'MAN') ? 'Man' : ((${account.sex} == 'WOMAN') ? 'Woman' : 'Intersex'))">Man</td>
					<td th:text="${account.email}">jinminglei@yeah.net</td>
					<td th:text="#{button.create}"><a href="#" th:href="@{/accounts/create}">Create</a></td>
					<td th:text="#{button.update}"><a href="#" th:href="@{/accounts/update}">Update</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
