<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en">
<head>

<title>Pear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<h1>
			<span th:text="#{welcome_titlepane(Spring )}"></span> <span
				th:text="#{application_name}"></span>
				<br/><br/>
		</h1>
		<h2>Now time is <span th:text="${#calendars.format(#execInfo.now, 'yyyy-MM-dd HH:mm:ss')}"></span></h2>
		<p>This sample demonstrates how to use Spring MVC together with
			Thymeleaf.</p>
		<p>
			<a href="#" th:href="@{/accounts/list}">Start
				your Spring Travel experience</a>
		</p>
	</div>
</body>
</html>
