<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<title>Pear</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2 th:text="#{error_uncaughtexception_title}"></h2>
	<p>
		<span th:text="#{error_uncaughtexception_problemdescription}"></span>
	</p>
	<div th:unless="${#exception}">
		<p>
			<h3><span th:text="#{exception_details}"></span></h3>
		<h4>
			<span th:text="#{exception_message}"></span>
		</h4>
		<div th:text="${exception.localizedMessage}"></div>
		<h5>
			<span th:text="#{exception_stacktrace}"></span>
		</h5>
		<div th:each="trace : ${exception.stackTrace}">
			<div th:text="${trace}"></div>
		</div>
		</p>
	</div>
</body>
</html>
